Repository sinhong2011/discover-sports-hk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, check

format:
  run: npx biome format --write {staged_files}
  stage_fixed: true

lint:
  run: npx biome lint --write {staged_files}
  stage_fixed: true

check:
  run: npx biome check --write {staged_files}
  stage_fixed: true

chore(gitignore): add *.env to ignore local environment files feat(package): set type to module in package.json
  .gitignore
  package.json
Due: format, check

fix(DatePagerView): replace 'any' type with proper React Navigation types
  components/home/components/DatePagerView.tsx
Due: format, lint, check

fix(DatePagerView): remove unused useIsFocused import
  components/home/components/DatePagerView.tsx
Due: format, lint, check

feat(ios): restructure iOS project and update Metro config
  ios/HK.xcodeproj/project.pbxproj
  ios/HK.xcodeproj/xcshareddata/xcschemes/HK.xcscheme
  ios/HK.xcworkspace/contents.xcworkspacedata
  ios/HK/AppDelegate.swift
  ios/HK/HK-Bridging-Header.h
  ios/HK/HK.entitlements
  ios/HK/Images.xcassets/AppIcon.appiconset/App-Icon-1024x1024@1x.png
  ios/HK/Images.xcassets/AppIcon.appiconset/Contents.json
  ios/HK/Images.xcassets/Contents.json
  ios/HK/Images.xcassets/SplashScreenBackground.colorset/Contents.json
  ios/HK/Images.xcassets/SplashScreenLogo.imageset/Contents.json
  ios/HK/Images.xcassets/SplashScreenLogo.imageset/image.png
  ios/HK/Images.xcassets/SplashScreenLogo.imageset/image@2x.png
  ios/HK/Images.xcassets/SplashScreenLogo.imageset/image@3x.png
  ios/HK/Info.plist
  ios/HK/PrivacyInfo.xcprivacy
  ios/HK/SplashScreen.storyboard
  ios/HK/Supporting/Expo.plist
  ios/Podfile
  ios/discoversportshk.xcworkspace
  ios/discoversportshk/Images.xcassets/AppIcon.appiconset/App-Icon-1024x1024@1x.png
  ios/discoversportshk/Images.xcassets/SplashScreenLogo.imageset/image.png
  ios/discoversportshk/Images.xcassets/SplashScreenLogo.imageset/image@2x.png
  ios/discoversportshk/Images.xcassets/SplashScreenLogo.imageset/image@3x.png
  metro.config.cjs
Due: format, check

feat(android): update Android configuration and assets
  android/app/build.gradle
  android/app/src/main/res/drawable-hdpi/splashscreen_logo.png
  android/app/src/main/res/drawable-mdpi/splashscreen_logo.png
  android/app/src/main/res/drawable-xhdpi/splashscreen_logo.png
  android/app/src/main/res/drawable-xxhdpi/splashscreen_logo.png
  android/app/src/main/res/drawable-xxxhdpi/splashscreen_logo.png
  android/app/src/main/res/values/strings.xml
  android/settings.gradle
  assets/images/icon.png
  assets/images/splash-icon.png
Due: none

chore: update project configuration and dependencies
  app.config.js
  babel.config.js
  biome.json
  bun.lock
  lefthook.yml
  package.json
  tsconfig.json
Due: format, lint, check

chore: clean up test files and unused components
  __tests__/components/DatePage/utils.test.ts
  __tests__/components/HeaderBackButton.test.tsx
  __tests__/mapNavigation.test.ts
  __tests__/store/useSportVenueStore.bookmark.test.ts
  components/home/components/AnimatedTabItem.tsx
  components/test/KeyboardControllerTest.tsx
  components/ui/Card.example.tsx
  metro.config.js
  polyfills.ts
Due: format, lint, check

chore(jest): update Jest configuration and setup files
  jest.config.js
  jest.setup.early.js
  jest.setup.js
Due: format, lint, check

feat(app): update app layout and routing structure
  app/(tabs)/index.tsx
  app/_layout.tsx
Due: format, lint, check

feat(components): comprehensive component updates and improvements
  components/SplashScreen.tsx
  components/debug/ThemeDebugger.tsx
  components/home/components/DatePage.tsx
  components/home/components/DatePage/index.ts
  components/home/components/DatePage/utils.ts
  components/home/components/FilterBar.tsx
  components/home/components/FilterModal.tsx
  components/home/components/SportTypeSelector.tsx
  components/home/types/index.ts
  components/skeleton/CustomSkeletonWrapper.tsx
  components/skeleton/EnhancedDatePageSkeleton.tsx
  components/ui/DistrictPicker.tsx
  components/ui/Icon.tsx
  components/ui/SafeAreaView.tsx
  components/ui/SearchBar.tsx
  components/ui/TimeSlotDetailsModal.tsx
  components/ui/TimeSlotItem/TimeSlotItem.tsx
  components/ui/TimeSlotRangePicker.tsx
  components/venue/ContactInfoTab.tsx
  components/venue/ScheduleTab.tsx
  components/venue/VenueTabView.tsx
Due: format, lint, check

feat(services): update services, store, and providers
  providers/HomeTabProvider.tsx
  providers/TimeSlotModalProvider.tsx
  providers/ToastProvider.tsx
  services/apiLogger.ts
  services/authService.ts
  services/backendApiClient.ts
  services/backendAuthService.ts
  services/cacheService.ts
  services/multiApiClient.ts
  services/sportsApiService.ts
  services/workerApiClient.ts
  store/useAppStore.ts
  store/useSportVenueStore.ts
Due: format, lint, check

feat: finalize remaining updates and improvements
  .vscode/settings.json
  docs/llms/unistyles.txt
  examples/BaseTextInputDebounceExample.tsx
  examples/ToastColorExample.tsx
  hooks/useDateFormatting.ts
  index.ts
  scripts/debug-coordinates.js
  types/api.ts
  unistyles.ts
Due: format, lint, check

feat: update app configuration and UI components
  app.config.js
  app/(tabs)/bookmarks/index.tsx
  app/(tabs)/index.tsx
  app/(tabs)/settings/index.tsx
  assets/images/splash-icon.png
  components/SplashScreen.tsx
Due: format, lint, check

feat: convert app.config to TypeScript and clean up unused assets
  app.config.js
  app.config.ts
  assets/images/partial-react-logo.png
  assets/images/react-logo.png
  assets/images/react-logo@2x.png
  assets/images/react-logo@3x.png
  ios/HK.xcodeproj/project.pbxproj
  ios/HK.xcodeproj/xcshareddata/xcschemes/HK.xcscheme
  package.json
  scripts/reset-project.js
Due: format, lint, check

fix: resolve TypeScript errors in DebugPanel theme colors
  components/debug/DebugPanel.tsx
Due: format, lint, check

fix: remove npm cache from GitHub Actions workflow
  .github/workflows/publish-production-build.yml
Due: none

test(jest): allow passing with no tests (passWithNoTests)
  jest.config.js
Due: format, lint, check

ci(workflows): build/deploy iOS only in GitHub Actions (avoid Android keystore in CI)
  .github/workflows/publish-develop-build.yml
  .github/workflows/publish-production-build.yml
  .github/workflows/publish-pull-request.yml
Due: none

refactor: simplify eas.json to use Expo-managed credentials
  eas.json
Due: format, check

fix: remove legacy EXPO_PUBLIC environment variables and improve authentication
  .env.example
  __tests__/auth-config.test.ts
  app/(tabs)/index.tsx
  hooks/useSportVenues.ts
  services/authService.ts
  services/backendAuthService.ts
  services/multiApiClient.ts
  services/sportsApiService.ts
  tsconfig.json
Due: format, lint, check

feat: add hidden venue list functionality
  WONG_TAI_SIN_FILTER_FIX.md
  components/home/components/DatePage/utils.ts
  hooks/useVenueFilters.ts
  ios/HK.xcodeproj/project.pbxproj
  store/useSportVenueStore.ts
  utils/districtMatching.ts
Due: format, lint, check

refactor: rename iOS project from HK to DiscoverSportsHK and update configurations
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/drawable-hdpi/splashscreen_logo.png
  android/app/src/main/res/drawable-mdpi/splashscreen_logo.png
  android/app/src/main/res/drawable-xhdpi/splashscreen_logo.png
  android/app/src/main/res/drawable-xxhdpi/splashscreen_logo.png
  android/app/src/main/res/drawable-xxxhdpi/splashscreen_logo.png
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
  android/settings.gradle
  app.config.ts
  app/(tabs)/_layout.tsx
  app/(tabs)/bookmarks/index.tsx
  app/(tabs)/index.tsx
  bun.lock
  components/NativeBottomTabs.tsx
  components/home/components/DatePage.tsx
  components/ui/TabBarBackground.ios.tsx
  ios/DiscoverSportsHK.xcodeproj/project.pbxproj
  ios/DiscoverSportsHK.xcodeproj/xcshareddata/xcschemes/DiscoverSportsHK.xcscheme
  ios/DiscoverSportsHK.xcworkspace/contents.xcworkspacedata
  ios/DiscoverSportsHK/AppDelegate.swift
  ios/DiscoverSportsHK/DiscoverSportsHK-Bridging-Header.h
  ios/DiscoverSportsHK/DiscoverSportsHK.entitlements
  ios/DiscoverSportsHK/Images.xcassets/AppIcon.appiconset/App-Icon-1024x1024@1x.png
  ios/DiscoverSportsHK/Images.xcassets/AppIcon.appiconset/Contents.json
  ios/DiscoverSportsHK/Images.xcassets/Contents.json
  ios/DiscoverSportsHK/Images.xcassets/SplashScreenBackground.colorset/Contents.json
  ios/DiscoverSportsHK/Images.xcassets/SplashScreenLogo.imageset/Contents.json
  ios/DiscoverSportsHK/Images.xcassets/SplashScreenLogo.imageset/image.png
  ios/DiscoverSportsHK/Images.xcassets/SplashScreenLogo.imageset/image@2x.png
  ios/DiscoverSportsHK/Images.xcassets/SplashScreenLogo.imageset/image@3x.png
  ios/DiscoverSportsHK/Info.plist
  ios/DiscoverSportsHK/PrivacyInfo.xcprivacy
  ios/DiscoverSportsHK/SplashScreen.storyboard
  ios/DiscoverSportsHK/Supporting/Expo.plist
  ios/Podfile
  package.json
Due: format, lint, check

chore: update project configuration and dependencies
  app.config.ts
  bun.lock
  ios/DiscoverSportsHK.xcodeproj/project.pbxproj
  ios/DiscoverSportsHK/Info.plist
  package.json
Due: format, lint, check

feat: update venue page, header back button, and package dependencies
  app/venue/[id].tsx
  components/ui/HeaderBackButton.tsx
  package.json
Due: format, lint, check

fix: update expo-router version to ^6.0.10 and add expo-server package
  bun.lock
Due: none

feat: update tab navigation and venue components
  app/(tabs)/_layout.tsx
  app/(tabs)/bookmarks/index.tsx
  app/(tabs)/index.tsx
  app/venue/[id].tsx
  bun.lock
  components/HapticTab.tsx
  components/NativeBottomTabs.tsx
  components/home/components/DatePage.tsx
  components/home/components/DatePage/VenueItem.tsx
  components/home/components/FilterBar.tsx
  components/ui/TabBarBackground.ios.tsx
  components/venue/VenueTabView.tsx
  hooks/useNativeTabBarHeight.ts
  package.json
Due: format, lint, check

fix: remove unused 'react-native-bottom-tabs' dependency from app configuration
  app.config.ts
Due: format, lint, check

chore: update dependencies and adjust FAB positioning
  .vscode/settings.json
  app/(tabs)/_layout.tsx
  app/(tabs)/index.tsx
  bun.lock
  package.json
Due: format, lint, check

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,css}
  lint: any of: *.{js,jsx,ts,tsx}
  check: any of: *.{js,jsx,ts,tsx,json,css}
